server:
  port: 8080

holds:
  expiry-job:
    enabled: true
    fixed-delay-ms: 30000

spring:
  mvc:
    pathmatch:
      matching-strategy: ant-path-matcher
  application:
    name: ticket
  datasource:
    url: jdbc:mysql://mysql:3306/ticket?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: ticket
    password: ticket
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    defer-datasource-initialization: false
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
    locations: classpath:db/migration

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

management:
  server:
    port: 8080
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
    prometheus:
      enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true